.fl-builder-content *,
.fl-builder-content *:before,
.fl-builder-content *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fl-row:before,
.fl-row:after,
.fl-row-content:before,
.fl-row-content:after,
.fl-col-group:before,
.fl-col-group:after,
.fl-col:before,
.fl-col:after,
.fl-module:before,
.fl-module:after,
.fl-module-content:before,
.fl-module-content:after {
    display: table;
    content: " ";
}

.fl-row:after,
.fl-row-content:after,
.fl-col-group:after,
.fl-col:after,
.fl-module:after,
.fl-module-content:after {
    clear: both;
}

.fl-row,
.fl-row-content,
.fl-col-group,
.fl-col,
.fl-module,
.fl-module-content {
    zoom: 1;
}

.fl-clear {
    clear: both;
}

.fl-clearfix:before,
.fl-clearfix:after {
    display: table;
    content: " ";
}

.fl-clearfix:after {
    clear: both;
}

.fl-clearfix {
    zoom: 1;
}

.fl-visible-medium,
.fl-visible-medium-mobile,
.fl-visible-mobile,
.fl-col-group .fl-visible-medium.fl-col,
.fl-col-group .fl-visible-medium-mobile.fl-col,
.fl-col-group .fl-visible-mobile.fl-col {
    display: none;
}

.fl-row,
.fl-row-content {
    margin-left: auto;
    margin-right: auto;
}

.fl-row-content-wrap {
    position: relative;
}

.fl-builder-mobile .fl-row-bg-photo .fl-row-content-wrap {
    background-attachment: scroll;
}

.fl-row-bg-video,
.fl-row-bg-video .fl-row-content {
    position: relative;
}

.fl-row-bg-video .fl-bg-video {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.fl-row-bg-video .fl-bg-video video {
    bottom: 0;
    left: 0px;
    position: absolute;
    right: 0;
    top: 0px;
}

.fl-row-bg-video .fl-bg-video iframe {
    pointer-events: none;
    width: 100vw;
    height: 56.25vw;
    max-width: none;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fl-bg-video-fallback {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.fl-row-bg-slideshow,
.fl-row-bg-slideshow .fl-row-content {
    position: relative;
}

.fl-row .fl-bg-slideshow {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.fl-builder-edit .fl-row .fl-bg-slideshow * {
    bottom: 0;
    height: auto !important;
    left: 0;
    position: absolute !important;
    right: 0;
    top: 0;
}

.fl-row-bg-overlay .fl-row-content-wrap:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.fl-row-bg-overlay .fl-row-content {
    position: relative;
    z-index: 1;
}

.fl-row-full-height .fl-row-content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.fl-row-full-height .fl-row-content {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.fl-row-full-height .fl-row-full-width.fl-row-content {
    max-width: 100%;
    width: 100%;
}

.fl-builder-ie-11 .fl-row.fl-row-full-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fl-builder-ie-11 .fl-row-full-height .fl-row-content-wrap {
    height: auto;
}

.fl-builder-ie-11 .fl-row-full-height .fl-row-content {
    flex: 0 0 auto;
    flex-basis: 100%;
    margin: 0;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-top .fl-row-content,
.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content {
    margin: 0 auto;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-center .fl-col-group:not(.fl-col-group-equal-height) {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}

.fl-row-full-height.fl-row-align-center .fl-row-content-wrap {
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}

.fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap {
    align-items: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-box-pack: end;
    -ms-flex-align: end;
    -ms-flex-pack: end;
}

.fl-builder-ie-11 .fl-row-full-height.fl-row-align-bottom .fl-row-content-wrap {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .fl-row-full-height .fl-row-content-wrap {
        min-height: 1024px;
    }
}

@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    .fl-row-full-height .fl-row-content-wrap {
        min-height: 768px;
    }
}

@media screen and (device-aspect-ratio: 40/71) {
    .fl-row-full-height .fl-row-content-wrap {
        min-height: 500px;
    }
}

.fl-col-group-equal-height,
.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.fl-col-group-equal-height {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fl-col-group-equal-height .fl-col,
.fl-col-group-equal-height .fl-col-content {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.fl-col-group-equal-height .fl-col-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    flex-shrink: 1;
    min-width: 1px;
    max-width: 100%;
    width: 100%;
}

.fl-col-group-equal-height:before,
.fl-col-group-equal-height .fl-col:before,
.fl-col-group-equal-height .fl-col-content:before,
.fl-col-group-equal-height:after,
.fl-col-group-equal-height .fl-col:after,
.fl-col-group-equal-height .fl-col-content:after {
    content: none;
}

.fl-col-group-equal-height.fl-col-group-align-center .fl-col-content {
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}

.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
}

.fl-col-group-equal-height.fl-col-group-align-center .fl-module,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
    width: 100%;
}

.fl-builder-ie-11 .fl-col-group-equal-height .fl-module,
.fl-col-group-equal-height.fl-col-group-align-center .fl-col-group {
    min-height: 1px;
}

.fl-col {
    float: left;
    min-height: 1px;
}

.fl-col-bg-overlay .fl-col-content {
    position: relative;
}

.fl-col-bg-overlay .fl-col-content:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.fl-col-bg-overlay .fl-module {
    position: relative;
    z-index: 2;
}

.fl-module img {
    max-width: 100%;
}

.fl-builder-module-template {
    margin: 0 auto;
    max-width: 1100px;
    padding: 20px;
}

.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: none;
}

.fl-builder-content .fl-button:hover {
    text-decoration: none;
}

.fl-builder-content .fl-button:active {
    position: relative;
    top: 1px;
}

.fl-builder-content .fl-button-width-full .fl-button {
    display: block;
    text-align: center;
}

.fl-builder-content .fl-button-width-custom .fl-button {
    display: inline-block;
    text-align: center;
    max-width: 100%;
}

.fl-builder-content .fl-button-left {
    text-align: left;
}

.fl-builder-content .fl-button-center {
    text-align: center;
}

.fl-builder-content .fl-button-right {
    text-align: right;
}

.fl-builder-content .fl-button i {
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}

.fl-builder-content .fl-button i.fl-button-icon-after {
    margin-left: 8px;
    margin-right: 0;
}

.fl-builder-content .fl-button-has-icon .fl-button-text {
    vertical-align: middle;
}

.fl-icon-wrap {
    display: inline-block;
}

.fl-icon {
    display: table-cell;
    vertical-align: middle;
}

.fl-icon a {
    text-decoration: none;
}

.fl-icon i {
    float: left;
}

.fl-icon i:before {
    border: none !important;
}

.fl-icon-text {
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
}

.fl-icon-text *:last-child {
    margin: 0 !important;
    padding: 0 !important;
}

.fl-icon-text a {
    text-decoration: none;
}

.fl-photo {
    line-height: 0;
    position: relative;
}

.fl-photo-align-left {
    text-align: left;
}

.fl-photo-align-center {
    text-align: center;
}

.fl-photo-align-right {
    text-align: right;
}

.fl-photo-content {
    display: inline-block;
    line-height: 0;
    position: relative;
    max-width: 100%;
}

.fl-photo-img-svg {
    width: 100%;
}

.fl-photo-content img {
    display: inline;
    height: auto;
    max-width: 100%;
}

.fl-photo-crop-circle img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.fl-photo-caption {
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fl-photo-caption-below {
    padding-bottom: 20px;
    padding-top: 10px;
}

.fl-photo-caption-hover {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 10px 15px;
    position: absolute;
    right: 0;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.fl-photo-content:hover .fl-photo-caption-hover {
    opacity: 100;
    filter: alpha(opacity=100);
}

.fl-builder-pagination {
    padding: 40px 0;
}

.fl-builder-pagination ul.page-numbers {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.fl-builder-pagination li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.fl-builder-pagination li a.page-numbers,
.fl-builder-pagination li span.page-numbers {
    border: 1px solid #e6e6e6;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 0 5px;
}

.fl-builder-pagination li a.page-numbers:hover,
.fl-builder-pagination li span.current {
    background: #f5f5f5;
    text-decoration: none;
}

.fl-slideshow,
.fl-slideshow * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.fl-slideshow .fl-slideshow-image img {
    max-width: none !important;
}

.fl-slideshow-social {
    line-height: 0 !important;
}

.fl-slideshow-social * {
    margin: 0 !important;
}

.fl-builder-content .bx-wrapper .bx-viewport {
    background: transparent;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    left: 0;
}

.mfp-wrap button.mfp-arrow,
.mfp-wrap button.mfp-arrow:active,
.mfp-wrap button.mfp-arrow:hover,
.mfp-wrap button.mfp-arrow:focus {
    background: transparent !important;
    border: none !important;
    outline: none;
    position: absolute;
    top: 50%;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.mfp-wrap .mfp-close,
.mfp-wrap .mfp-close:active,
.mfp-wrap .mfp-close:hover,
.mfp-wrap .mfp-close:focus {
    background: transparent !important;
    border: none !important;
    outline: none;
    position: absolute;
    top: 0;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.admin-bar .mfp-wrap .mfp-close,
.admin-bar .mfp-wrap .mfp-close:active,
.admin-bar .mfp-wrap .mfp-close:hover,
.admin-bar .mfp-wrap .mfp-close:focus {
    top: 32px!important;
}

img.mfp-img {
    padding: 0;
}

.mfp-counter {
    display: none;
}

.mfp-wrap .mfp-preloader.fa {
    font-size: 30px;
}

.fl-form-field {
    margin-bottom: 15px;
}

.fl-form-field input.fl-form-error {
    border-color: #DD6420;
}

.fl-form-error-message {
    clear: both;
    color: #DD6420;
    display: none;
    padding-top: 8px;
    font-size: 12px;
    font-weight: lighter;
}

.fl-form-button-disabled {
    opacity: 0.5;
}

.fl-animation {
    opacity: 0;
}

.fl-builder-mobile .fl-animation,
.fl-builder-edit .fl-animation,
.fl-animated {
    opacity: 1;
}

.fl-animated.fl-fade-in {
    animation: fl-fade-in 1s ease-out;
    -webkit-animation: fl-fade-in 1s ease-out;
    -moz-animation: fl-fade-in 1s ease-out;
}

@keyframes fl-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fl-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fl-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fl-animated.fl-slide-left {
    animation: fl-slide-left 1s ease-out;
    -webkit-animation: fl-slide-left 1s ease-out;
    -moz-animation: fl-slide-left 1s ease-out;
}

@keyframes fl-slide-left {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@-webkit-keyframes fl-slide-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes fl-slide-left {
    0% {
        opacity: 0;
        -moz-transform: translateX(10%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

.fl-animated.fl-slide-right {
    animation: fl-slide-right 1s ease-out;
    -webkit-animation: fl-slide-right 1s ease-out;
    -moz-animation: fl-slide-right 1s ease-out;
}

@keyframes fl-slide-right {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@-webkit-keyframes fl-slide-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes fl-slide-right {
    0% {
        opacity: 0;
        -moz-transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}

.fl-animated.fl-slide-up {
    animation: fl-slide-up 1s ease-out;
    -webkit-animation: fl-slide-up 1s ease-out;
    -moz-animation: fl-slide-up 1s ease-out;
}

@keyframes fl-slide-up {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes fl-slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-moz-keyframes fl-slide-up {
    0% {
        opacity: 0;
        -moz-transform: translateY(10%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}

.fl-animated.fl-slide-down {
    animation: fl-slide-down 1s ease-out;
    -webkit-animation: fl-slide-down 1s ease-out;
    -moz-animation: fl-slide-down 1s ease-out;
}

@keyframes fl-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes fl-slide-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-moz-keyframes fl-slide-down {
    0% {
        opacity: 0;
        -moz-transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0%);
    }
}

.fl-button.fl-button-icon-animation i {
    width: 0 !important;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.fl-button.fl-button-icon-animation:hover i {
    opacity: 1! important;
    -ms-filter: "alpha(opacity=100)";
}

.fl-button.fl-button-icon-animation i.fl-button-icon-after {
    margin-left: 0px !important;
}

.fl-button.fl-button-icon-animation:hover i.fl-button-icon-after {
    margin-left: 10px !important;
}

.fl-button.fl-button-icon-animation i.fl-button-icon-before {
    margin-right: 0 !important;
}

.fl-button.fl-button-icon-animation:hover i.fl-button-icon-before {
    margin-right: 20px !important;
    margin-left: -10px;
}

.single:not(.woocommerce).single-fl-builder-template .fl-content {
    width: 100%;
}

.fl-row-content-wrap {
    margin: 0px;
}

.fl-row-content-wrap {
    padding: 20px;
}

.fl-row-fixed-width {
    max-width: 1140px;
}

.fl-module-content {
    margin: 20px;
}

@media (max-width: 992px) {
    .fl-visible-desktop,
    .fl-visible-mobile,
    .fl-col-group .fl-visible-desktop.fl-col,
    .fl-col-group .fl-visible-mobile.fl-col {
        display: none;
    }
    .fl-visible-desktop-medium,
    .fl-visible-medium,
    .fl-visible-medium-mobile,
    .fl-col-group .fl-visible-desktop-medium.fl-col,
    .fl-col-group .fl-visible-medium.fl-col,
    .fl-col-group .fl-visible-medium-mobile.fl-col {
        display: block;
    }
}

@media (max-width: 768px) {
    .fl-visible-desktop,
    .fl-visible-desktop-medium,
    .fl-visible-medium,
    .fl-col-group .fl-visible-desktop.fl-col,
    .fl-col-group .fl-visible-desktop-medium.fl-col,
    .fl-col-group .fl-visible-medium.fl-col {
        display: none;
    }
    .fl-visible-medium-mobile,
    .fl-visible-mobile,
    .fl-col-group .fl-visible-medium-mobile.fl-col,
    .fl-col-group .fl-visible-mobile.fl-col {
        display: block;
    }
    .fl-row-content-wrap {
        background-attachment: scroll !important;
    }
    .fl-row-bg-parallax .fl-row-content-wrap {
        background-attachment: scroll !important;
        background-position: center center !important;
    }
    .fl-col-group.fl-col-group-equal-height {
        display: block;
    }
    .fl-col-group.fl-col-group-equal-height.fl-col-group-custom-width {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .fl-col-group.fl-col-group-responsive-reversed {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
        -ms-box-orient: horizontal;
        -webkit-flex-flow: row wrap;
    }
    .fl-col-group.fl-col-group-responsive-reversed .fl-col {
        -webkit-box-flex: 0 0 100%;
        -moz-box-flex: 0 0 100%;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
        -webkit-box-ordinal-group: 12;
        -moz-box-ordinal-group: 12;
        -ms-flex-order: 12;
        -webkit-order: 12;
        order: 12;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
        -webkit-box-ordinal-group: 11;
        -moz-box-ordinal-group: 11;
        -ms-flex-order: 11;
        -webkit-order: 11;
        order: 11;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(3) {
        -webkit-box-ordinal-group: 10;
        -moz-box-ordinal-group: 10;
        -ms-flex-order: 10;
        -webkit-order: 10;
        order: 10;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(4) {
        -webkit-box-ordinal-group: 9;
        -moz-box-ordinal-group: 9;
        -ms-flex-order: 9;
        -webkit-order: 9;
        order: 9;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(5) {
        -webkit-box-ordinal-group: 8;
        -moz-box-ordinal-group: 8;
        -ms-flex-order: 8;
        -webkit-order: 8;
        order: 8;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(6) {
        -webkit-box-ordinal-group: 7;
        -moz-box-ordinal-group: 7;
        -ms-flex-order: 7;
        -webkit-order: 7;
        order: 7;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(7) {
        -webkit-box-ordinal-group: 6;
        -moz-box-ordinal-group: 6;
        -ms-flex-order: 6;
        -webkit-order: 6;
        order: 6;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(8) {
        -webkit-box-ordinal-group: 5;
        -moz-box-ordinal-group: 5;
        -ms-flex-order: 5;
        -webkit-order: 5;
        order: 5;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(9) {
        -webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 4;
        -webkit-order: 4;
        order: 4;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(10) {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(11) {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }
    .fl-col-group-responsive-reversed .fl-col:nth-of-type(12) {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
    .fl-col {
        clear: both;
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: auto !important;
    }
    .fl-col-small {
        max-width: 400px;
    }
    .fl-block-col-resize {
        display: none;
    }
    .fl-row[data-node] .fl-row-content-wrap {
        border-left: none;
        border-right: none;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .fl-row[data-node] .fl-bg-video,
    .fl-row[data-node] .fl-bg-slideshow {
        left: 0;
        right: 0;
    }
    .fl-col[data-node] .fl-col-content {
        border-left: none;
        border-right: none;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.page .fl-post-header,
.single-fl-builder-template .fl-post-header {
    display: none;
}

.fl-node-5787d3afb09d5 > .fl-row-content-wrap {
    background-color: #eeeeee;
    background-color: rgba(238, 238, 238, 1);
}

.fl-node-5787d3afb0b5d > .fl-row-content-wrap {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 1);
}

.fl-node-5787d3afb0b5d > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb0c39 > .fl-row-content-wrap {
    background-color: #f5f5f5;
    background-color: rgba(245, 245, 245, 1);
}

.fl-node-5787d3afb0c39 > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb0d84 > .fl-row-content-wrap {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 1);
}

.fl-node-5787d3afb0d84 > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb0ed4 > .fl-row-content-wrap {
    background-color: #cccccc;
    background-color: rgba(204, 204, 204, 1);
}

.fl-node-5787d3afb0ed4 > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb101f > .fl-row-content-wrap {
    background-color: #adadad;
    background-color: rgba(173, 173, 173, 1);
}

.fl-node-5787d3afb101f > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb1169 > .fl-row-content-wrap {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 1);
}

.fl-node-5787d3afb1169 > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb1308 > .fl-row-content-wrap {
    background-color: #eeeeee;
    background-color: rgba(238, 238, 238, 1);
}

.fl-node-5787d3afb1308 > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb1479 > .fl-row-content-wrap {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 1);
}

.fl-node-5787d3afb1479 > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb15d0 > .fl-row-content-wrap {
    background-color: #f5f5f5;
    background-color: rgba(245, 245, 245, 1);
}

.fl-node-5787d3afb15d0 > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb173e > .fl-row-content-wrap {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 1);
}

.fl-node-5787d3afb173e > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb188c > .fl-row-content-wrap {
    background-color: #eeeeee;
    background-color: rgba(238, 238, 238, 1);
}

.fl-node-5787d3afb188c > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb19af > .fl-row-content-wrap {
    background-color: #cccccc;
    background-color: rgba(204, 204, 204, 1);
}

.fl-node-5787d3afb19af > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb1afd > .fl-row-content-wrap {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 1);
}

.fl-node-5787d3afb1afd > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb1c5c > .fl-row-content-wrap {
    background-color: #f5f5f5;
    background-color: rgba(245, 245, 245, 1);
}

.fl-node-5787d3afb1c5c > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb1d90 > .fl-row-content-wrap {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 1);
}

.fl-node-5787d3afb1d90 > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb1edb > .fl-row-content-wrap {
    background-color: #f5f5f5;
    background-color: rgba(245, 245, 245, 1);
}

.fl-node-5787d3afb1edb > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb2058 > .fl-row-content-wrap {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 1);
}

.fl-node-5787d3afb2058 > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb245e > .fl-row-content-wrap {
    background-color: #f5f5f5;
    background-color: rgba(245, 245, 245, 1);
}

.fl-node-5787d3afb245e > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb2310 > .fl-row-content-wrap {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 1);
}

.fl-node-5787d3afb2310 > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-5787d3afb21c5 > .fl-row-content-wrap {
    background-color: #f5f5f5;
    background-color: rgba(245, 245, 245, 1);
}

.fl-node-5787d3afb21c5 > .fl-row-content-wrap {
    padding-top: 40px;
    padding-bottom: 40px;
}

.fl-node-57888331e0b24 > .fl-row-content-wrap {
    background-color: #e8da43;
    background-color: rgba(232, 218, 67, 1);
}

.fl-node-57888331e0b24 > .fl-row-content-wrap {
    padding-bottom: 0px;
}

.fl-node-5787d3afb0a49 {
    width: 100%;
}

.fl-node-5787d3afb0bcb {
    width: 100%;
}

.fl-node-5787d3afb0ca8 {
    width: 100%;
}

.fl-node-5787d3afb0df8 {
    width: 100%;
}

.fl-node-5787d3afb0f42 {
    width: 100%;
}

.fl-node-5787d3afb108c {
    width: 100%;
}

.fl-node-5787d3afb1211 {
    width: 100%;
}

.fl-node-5787d3afb139c {
    width: 100%;
}

.fl-node-5787d3afb14e7 {
    width: 100%;
}

.fl-node-5787d3afb163e {
    width: 100%;
}

.fl-node-5787d3afb17ad {
    width: 100%;
}

.fl-node-5787d3afb18fa {
    width: 100%;
}

.fl-node-5787d3afb1a1d {
    width: 100%;
}

.fl-node-5787d3afb1b77 {
    width: 100%;
}

.fl-node-5787d3afb1ccb {
    width: 100%;
}

.fl-node-5787d3afb1dfe {
    width: 100%;
}

.fl-node-5787d3afb1f74 {
    width: 100%;
}

.fl-node-5787d3afb20ce {
    width: 100%;
}

.fl-node-5787d3afb24cc {
    width: 100%;
}

.fl-node-5787d3afb237f {
    width: 100%;
}

.fl-node-5787d3afb2234 {
    width: 100%;
}

.fl-node-5788834fcf712 {
    width: 50%;
}

.fl-node-57888331e0ffd {
    width: 50%;
}

.fl-node-578883fa543cf {
    width: 100%;
}

.fl-module-heading .fl-heading {
    padding: 0 !important;
    margin: 0 !important;
}

.fl-node-5787d3afb0a81.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb0a81 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb0ab8.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb0ab8 > .fl-module-content {
    margin-top: 0px;
}

.fl-node-578882c07fa6e > .fl-module-content {
    margin-top: 0px;
    margin-bottom: -30px;
}

@media (max-width: 768px) {
    .fl-node-578882c07fa6e > .fl-module-content {
        margin-bottom: 20px;
    }
}

.fl-node-5787d3afb0aef.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb0aef > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb0c02.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb0c02 > .fl-module-content {
    margin-top: 0px;
}

.fl-accordion-button {
    cursor: pointer;
    display: table;
}

.fl-accordion-button:focus {
    outline: 0
}

.fl-accordion-button-label {
    display: table-cell;
    width: 100%;
}

.fl-accordion-button-icon {
    display: table-cell;
    line-height: inherit;
    opacity: .5;
    filter: alpha(opacity=50);
    padding-left: 15px;
    vertical-align: middle;
}

.fl-accordion-content {
    display: none;
}

.fl-accordion-small .fl-accordion-button {
    padding: 10px 15px;
}

.fl-accordion-small .fl-accordion-content {
    padding: 0 30px 10px 15px;
}

.fl-accordion-medium .fl-accordion-button {
    padding: 15px 20px;
}

.fl-accordion-medium .fl-accordion-button-label {
    font-size: 20px;
}

.fl-accordion-medium .fl-accordion-content {
    padding: 0 40px 15px 20px;
}

.fl-accordion-large .fl-accordion-button {
    padding: 20px 25px;
}

.fl-accordion-large .fl-accordion-button-label {
    font-size: 26px;
}

.fl-accordion-large .fl-accordion-content {
    padding: 0 50px 25px 25px;
}

.fl-node-5787d3afb0b25 .fl-accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fl-node-5787d3afb0b25 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb0b25 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb0cdf.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb0cdf > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb0d16.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb0d16 > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb0d4d .fl-accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fl-node-5787d3afb0d4d > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb0d4d > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb0e2e.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb0e2e > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb0e65.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb0e65 > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb0e9c .fl-accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fl-node-5787d3afb0e9c > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb0e9c > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb0f79.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb0f79 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb0fb0.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb0fb0 > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb0fe8 .fl-accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fl-node-5787d3afb0fe8 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb0fe8 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb10c3.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb10c3 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb10fb.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb10fb > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb1132 .fl-accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fl-node-5787d3afb1132 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb1132 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb1252.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1252 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb1292.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1292 > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb12d1 .fl-accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fl-node-5787d3afb12d1 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb12d1 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb13d4.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb13d4 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb140b.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb140b > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb1442 .fl-accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fl-node-5787d3afb1442 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb1442 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb151e.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb151e > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb1554.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1554 > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb1598 .fl-accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fl-node-5787d3afb1598 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb1598 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb1675.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1675 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb16c6.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb16c6 > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb1706 .fl-accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fl-node-5787d3afb1706 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb1706 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb17e4.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb17e4 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb181c.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb181c > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb1853 .fl-accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fl-node-5787d3afb1853 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb1853 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb1931.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1931 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb1968.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1968 > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb1977 .fl-accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fl-node-5787d3afb1977 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb1977 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb1a54.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1a54 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb1a8b.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1a8b > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb1ac2 .fl-accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fl-node-5787d3afb1ac2 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb1ac2 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb1bb5.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1bb5 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb1bed.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1bed > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb1c24 .fl-accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fl-node-5787d3afb1c24 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb1c24 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb1d02.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1d02 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb1d3a.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1d3a > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb1d58 .fl-accordion-item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fl-node-5787d3afb1d58 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb1d58 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb1e36.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1e36 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb1e6c.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1e6c > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb1ea3 .fl-accordion-item {
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
}

.fl-node-5787d3afb1ea3 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb1ea3 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb1fab.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1fab > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb1fe2.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb1fe2 > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb201a .fl-accordion-item {
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
}

.fl-node-5787d3afb201a > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb201a > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb2105.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb2105 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb2155.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb2155 > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb218d .fl-accordion-item {
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
}

.fl-node-5787d3afb218d > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb218d > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb2503.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb2503 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb2531.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb2531 > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb2569 .fl-accordion-item {
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
}

.fl-node-5787d3afb2569 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb2569 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb23b9.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb23b9 > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb23f0.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb23f0 > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb2427 .fl-accordion-item {
    border: 1px solid #f91f1f;
    margin-bottom: 10px;
}

.fl-node-5787d3afb2427 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb2427 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-5787d3afb226b.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb226b > .fl-module-content {
    margin-bottom: 0px;
}

.fl-node-5787d3afb22a2.fl-module-heading .fl-heading {
    text-align: center;
}

.fl-node-5787d3afb22a2 > .fl-module-content {
    margin-top: 0px;
}

.fl-node-5787d3afb22d9 .fl-accordion-item {
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
}

.fl-node-5787d3afb22d9 > .fl-module-content {
    margin-right: 200px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .fl-node-5787d3afb22d9 > .fl-module-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.fl-node-57888356e99da > .fl-module-content {
    margin-bottom: 0px;
}

.pro-ac-1 .fa-plus:before {
    content: "\f078";
}

.pro-ac-1 .fa-minus:before {
    content: "\f077";
}

.pro-ac-2 .fa-plus:before {
    content: "\f107";
}

.pro-ac-2 .fa-minus:before {
    content: "\f106";
}

.pro-ac-2 .fl-accordion-item {
    border: none;
}

.pro-ac-2 .fl-accordion-button {
    border-bottom: solid 1px #ddd;
}

.pro-ac-2 .fl-accordion-content {
    padding-top: 10px;
}

.pro-ac-3 .fa-plus:before {
    content: "\f078";
}

.pro-ac-3 .fa-minus:before {
    content: "\f077";
}

.pro-ac-3 .fa-plus,
.pro-ac-3 .fa-minus {
    opacity: 1
}

.pro-ac-3 .fl-accordion-item {
    border: none;
    background: #5462b2;
    color: #fff;
}

.pro-ac-4 .fa-plus:before {
    content: "\f078";
}

.pro-ac-4 .fa-minus:before {
    content: "\f077";
}

.pro-ac-4 .fa-plus,
.pro-ac-4 .fa-minus {
    opacity: 1
}

.pro-ac-4 .fl-accordion-item {
    border: none;
    background: #5462b2;
    color: #fff;
}

.pro-ac-4 .fl-accordion-content {
    padding-top: 10px;
    background: #f5f5f5;
    color: #333;
}

.pro-ac-5 .fa-plus:before {
    content: "\f078";
}

.pro-ac-5 .fa-minus:before {
    content: "\f077";
}

.pro-ac-5 .fa-plus,
.pro-ac-5 .fa-minus {
    opacity: 1
}

.pro-ac-5 .fl-accordion-item {
    border: none;
    background: #5462b2;
    color: #fff;
}

.pro-ac-5 .fl-accordion-item:nth-child(1) {
    background: #b7df19;
}

.pro-ac-5 .fl-accordion-item:nth-child(2) {
    background: #afad1e;
}

.pro-ac-5 .fl-accordion-item:nth-child(3) {
    background: #788059;
}

.pro-ac-5 .fl-accordion-item:nth-child(4) {
    background: #4a6696;
}

.pro-ac-5 .fl-accordion-content {
    padding-top: 10px;
    background: #f5f5f5;
    color: #333;
}

.pro-ac-6 .fa-plus:before {
    content: "\f078";
}

.pro-ac-6 .fa-minus:before {
    content: "\f077";
}

.pro-ac-6 .fl-accordion-item {
    color: #333;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #eee;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}

.pro-ac-7 .fa-plus:before {
    content: "\f078";
}

.pro-ac-7 .fa-minus:before {
    content: "\f077";
}

.pro-ac-7 .fl-accordion-item {
    color: #fff;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #333;
    background: rgba(64, 64, 64, 1);
    background: -moz-linear-gradient(top, rgba(64, 64, 64, 1) 0%, rgba(82, 82, 82, 1) 44%, rgba(13, 13, 13, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64, 64, 64, 1)), color-stop(44%, rgba(82, 82, 82, 1)), color-stop(100%, rgba(13, 13, 13, 1)));
    background: -webkit-linear-gradient(top, rgba(64, 64, 64, 1) 0%, rgba(82, 82, 82, 1) 44%, rgba(13, 13, 13, 1) 100%);
    background: -o-linear-gradient(top, rgba(64, 64, 64, 1) 0%, rgba(82, 82, 82, 1) 44%, rgba(13, 13, 13, 1) 100%);
    background: -ms-linear-gradient(top, rgba(64, 64, 64, 1) 0%, rgba(82, 82, 82, 1) 44%, rgba(13, 13, 13, 1) 100%);
    background: linear-gradient(to bottom, rgba(64, 64, 64, 1) 0%, rgba(82, 82, 82, 1) 44%, rgba(13, 13, 13, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#0d0d0d', GradientType=0);
}

.pro-ac-8 .fa-plus:before {
    content: "\f103";
}

.pro-ac-8 .fa-minus:before {
    content: "\f102";
}

.pro-ac-8 .fa-plus,
.pro-ac-8 .fa-minus {
    opacity: 1
}

.pro-ac-8 .fl-accordion-item {
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #aacc00;
    border: none;
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(170, 204, 0);
    background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(170, 204, 0);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(170, 204, 0);
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 4em 4em;
    background-size: 2em 2em;
}

.pro-ac-9 .fa-plus:before {
    content: "\f0ab";
}

.pro-ac-9 .fa-minus:before {
    content: "\f0aa";
}

.pro-ac-9 .fa-plus,
.pro-ac-9 .fa-minus {
    opacity: 1
}

.pro-ac-9 .fl-accordion-item {
    color: #555;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #003954;
    border: none;
    background: -webkit-linear-gradient(135deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.2) 75%), -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.2) 75%), rgba(212, 226, 13, 1);
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.2) 75%), -moz-linear-gradient(45deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.2) 75%), rgba(212, 226, 13, 1);
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.2) 75%), linear-gradient(45deg, rgba(0, 0, 0, 0) 25%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 75%, rgba(255, 255, 255, 0.2) 75%), rgba(212, 226, 13, 1);
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 4em 4em;
    background-size: 4em 4em;
}

.pro-ac-10 .fa-plus:before {
    content: "\f107";
}

.pro-ac-10 .fa-minus:before {
    content: "\f106";
}

.pro-ac-10 .fa-plus,
.pro-ac-10 .fa-minus {
    opacity: 1
}

.pro-ac-10 .fl-accordion-item {
    border: none;
    margin-bottom: 15px;
}

.pro-ac-10 .fl-accordion-button {
    border: none;
    color: #fff;
    background: #69c0df;
    background: rgb(105, 192, 223);
    -webkit-box-shadow: 0 5px 0 0 rgb(87, 151, 180);
    box-shadow: 0 5px 0 0 rgb(87, 151, 180);
    text-shadow: 0 1px 1px rgba(87, 151, 180, 0.36);
}

.pro-ac-10 .fl-accordion-button:hover {
    background: rgba(78, 182, 216, 1);
    -webkit-box-shadow: 0 5px 0 0 rgba(78, 136, 160, 1);
    box-shadow: 0 5px 0 0 rgba(78, 136, 160, 1);
}

.pro-ac-10 .fl-accordion-content {
    padding-top: 15px;
}

.pro-ac-11 .fa-plus:before {
    content: "\f0d7";
}

.pro-ac-11 .fa-minus:before {
    content: "\f0d8";
}

.pro-ac-11 .fa-plus,
.pro-ac-11 .fa-minus {
    opacity: 1
}

.pro-ac-11 .fl-accordion-item {
    border: none;
    margin-bottom: 15px;
}

.pro-ac-11 .fl-accordion-button {
    border: 1px solid;
    background: #fff;
    -webkit-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.8);
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.pro-ac-11 .fl-accordion-content {
    background: #0a0a0a;
    color: #eee;
    margin-left: 3px;
    margin-right: -3px;
    padding-top: 10px;
}

.pro-ac-12 .fa-plus:before {
    content: "\f0d7";
}

.pro-ac-12 .fa-minus:before {
    content: "\f0d8";
}

.pro-ac-12 .fa-plus,
.pro-ac-12 .fa-minus {
    opacity: 1
}

.pro-ac-12 .fl-accordion-item {
    border: none;
    margin-bottom: 15px;
}

.pro-ac-12 .fl-accordion-item {
    margin-bottom: 10px;
}

.pro-ac-12 .fl-accordion-button {
    padding: 8px 20px;
    border: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    background: rgb(221, 221, 221);
    -webkit-box-shadow: 0 1px 0 0 rgb(119, 119, 119), 0 2px 0 0 rgb(119, 119, 119), 0 3px 0 0 rgb(119, 119, 119), 0 4px 0 0 rgb(119, 119, 119), 0 5px 0 0 rgb(119, 119, 119), 0 6px 0 0 rgb(119, 119, 119), 0 0 5px 0 rgba(0, 0, 0, 0.0980392), 0 1px 3px 0 rgba(0, 0, 0, 0.298039), 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.247059), 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.14902);
    box-shadow: 0 1px 0 0 rgb(119, 119, 119), 0 2px 0 0 rgb(119, 119, 119), 0 3px 0 0 rgb(119, 119, 119), 0 4px 0 0 rgb(119, 119, 119), 0 5px 0 0 rgb(119, 119, 119), 0 6px 0 0 rgb(119, 119, 119), 0 0 5px 0 rgba(0, 0, 0, 0.0980392), 0 1px 3px 0 rgba(0, 0, 0, 0.298039), 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.247059), 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.14902);
    text-shadow: 0 1px 0 #fff;
}

.pro-ac-12 .fl-accordion-content {
    padding-top: 15px;
}

.pro-ac-13 .fa-plus:before {
    content: "\f107";
}

.pro-ac-13 .fa-minus:before {
    content: "\f106";
}

.pro-ac-13 .fl-accordion-item {
    -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.15);
    -moz-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.15);
    box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.15);
}

.pro-ac-14 .fa-plus:before {
    content: "\f0fe";
}

.pro-ac-14 .fa-minus:before {
    content: "\f146";
}

.pro-ac-14 .fa-plus,
.pro-ac-14 .fa-minus {
    opacity: 1;
}

.pro-ac-14 .fl-accordion-item {
    border: dashed 1px;
    margin-bottom: -1px;
}

.pro-ac-15 .fa-plus:before {
    content: "\f067";
}

.pro-ac-15 .fa-minus:before {
    content: "\f068";
}

.pro-ac-15 .fa-plus,
.pro-ac-15 .fa-minus {
    opacity: 1;
}

.pro-ac-15 .fl-accordion-button {
    position: relative;
    padding-left: 60px;
    border: 0;
    width: 100%;
    background: #eee;
}

.pro-ac-15 .fl-accordion-button-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.pro-ac-15 .fl-accordion-content {
    padding: 4% 4% 3% 4%;
}

.pro-ac-16 .fa-plus:before {
    content: "\f067";
}

.pro-ac-16 .fa-minus:before {
    content: "\f00d";
}

.pro-ac-16 .fa-plus,
.pro-ac-16 .fa-minus {
    opacity: 1;
}

.pro-ac-16 .fl-accordion-item {
    background: #fff;
    border: 0;
    border-bottom: double;
}

.pro-ac-16 .fl-accordion-button {
    position: relative;
    padding-left: 60px;
    width: 100%;
}

.pro-ac-16 .fl-accordion-button-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.pro-ac-16 .fl-accordion-content {
    padding: 2% 4%;
}

.pro-ac-17 .fa-plus:before {
    content: "\f101";
}

.pro-ac-17 .fa-minus:before {
    content: "\f102";
}

.pro-ac-17 .fa-plus,
.pro-ac-17 .fa-minus {
    opacity: 1;
}

.pro-ac-17 .fl-accordion-item {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: transparent;
    border: double #aaa;
}

.pro-ac-17 .fl-accordion-button {
    position: relative;
    padding-left: 60px;
    width: 100%;
}

.pro-ac-17 .fl-accordion-button-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.pro-ac-17 .fl-accordion-content {
    padding: 2% 4%;
}

.pro-ac-18 .fa-plus:before {
    content: "\f13a";
}

.pro-ac-18 .fa-minus:before {
    content: "\f139";
}

.pro-ac-18 .fa-plus,
.pro-ac-18 .fa-minus {
    opacity: 1;
    font-size: 26px;
}

.pro-ac-18 .fl-accordion-item {
    background: #fff;
}

.pro-ac-18 .fl-accordion-button-label {
    background: #fff;
    padding-bottom: 25px;
}

.pro-ac-18 .fl-accordion-button {
    width: 100%;
    text-align: center;
}

.pro-ac-18 .fl-accordion-item {
    position: relative;
}

.pro-ac-18 .fl-accordion-button-icon {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}

.pro-ac-18 .fl-accordion-content {
    padding: 0 4% 6% 4%;
}

.pro-ac-19 .fa-plus:before {
    content: "See Details";
}

.pro-ac-19 .fa-minus:before {
    content: "Close This";
}

.pro-ac-19 .fa-plus,
.pro-ac-19 .fa-minus {
    opacity: 1;
}

.pro-ac-19 .fl-accordion-button-icon {
    padding-left: 0;
    min-width: 100px;
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.pro-ac-19 .fl-accordion-item {
    border: 0;
    background: #f5f5f5;
    border-left: solid 4px #eee;
}

.pro-ac-20 .fa-plus:before {
    content: "\f103";
}

.pro-ac-20 .fa-minus:before {
    content: "\f102";
}

.pro-ac-20 .fl-accordion-item {
    border: 0;
    outline: solid 1px #ccc;
    outline-offset: -5px;
    padding: 10px;
    background: #fff;
}
